.form-text-only label {
    padding-top: 0 !important;
}

.panel {
    min-width: 400px;
}


/* centered columns styles */

.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    margin-right: -4px;
}

.animate-view-container {
    position: relative;
    min-height: 100%;
}

.animate-view.ng-enter,
.animate-view.ng-leave {
    transition: .5s linear all;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.animate-view.ng-enter {
    opacity: 0;
    z-index: 100;
}

.animate-view.ng-enter.ng-enter-active {
    opacity: 1;
}

.animate-view.ng-leave {
    opacity: 1;
    z-index: 99;
}

.animate-view.ng-leave.ng-leave-active {
    opacity: 0;
}